@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Vollkorn&family=Vollkorn+SC&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Vollkorn SC', serif;*/




/* VARIABLES */
:root {
    /* Colores */
    --colorUno: #FFCD00;
    --colorDos: #9E5D00;
    --colorTres: #251605;
    --colorWhite: #F2F1ED;
    --colorBlack: #000000;
    
    /*Fonts*/
    --fontVollSc: 'Vollkorn SC', serif;
    --fontVoll: 'Vollkorn', serif;
    --fontOpen: 'Open Sans', sans-serif;

    /*Font Sizes*/
    --textXlarge: 8em; /*80px*/
    --textLarge: 5.2em; /*52px*/
    --textMedium: 3em; /*30px*/
    --textBase: 2.4em; /*24px*/
    --textSmall: 2em; /*20px*/
    --textXsmall: 1.6em; /*16px*/
    --textXxsmall: 1em;
}
/* Fin VARIABLES */





/*NORMALIZE (Qué son las normalizaciones? Son reseteos que le hacemos a nuestras etiquetas)*/
* { /*Esta es la más básica de las normalizaciones. Usada para eliminar los posibles espaciados del navegador. Muchos navegadores establecen un margen por defecto en sus páginas. Con el reseteo de margin y padding eliminamos este comportamiento del navegador para luego determinar nosotros el comportamiento de los elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /*desaparece el desplazamiento horizontal y corrige un problema con las imagenes de fondo haciendo scroll horizontal*/
}

html { 
    font-size: 62.5%; /*Esta define el tamaño de los "em" y "rem" a 10px. "rem" es una unidad de medida que siempre va a hacer caso a la medida establecida en el html. "em" es una unidad de medida relativa; hará caso a la medida establecida en el html, salvo que el padre tenga otra medida establecida*/
}
/*Fin NORMALIZE*/





/*** BODY ***/
    /* Fondo de página */
.body {
    background-color: var(--colorBlack);
}
    /* Fin fondo de página */
/*** FIN BODY ***/





/*** HEADER ***/
.header {
    /* BackGround Header */
    background: linear-gradient(173deg, rgba(254,226,20,1) 6%, rgba(147,77,8,1) 43%, rgba(0,0,0,1) 78%);
    border-bottom: solid black;
    /* FIN BackGround Header */
    /* Flex al Header */
    display: flex;
    flex-direction: row; /*Con esto el menu se posiciona al lado del logo*/
    justify-content: space-between; /*Con esto logro que el logo quede a la izquierda y el menu a la derecha*/
    align-items: flex-end; /*pone los elementos en la linea inferior del header*/
    /* Fin Flex al Header*/
    padding: 0rem 0rem 0rem 1rem; /*el orden es: top,right, bottom, left*/
}
    /* LOGO */
.header__logo img {
    width: 200px;
}
    /* Fin LOGO */ 
    /* MENU de nav*/
.header__nav--menu {
    list-style: none; /*quita los puntos de mi lista*/
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem; /*Separa un poco el menu de la linea inferior del header*/
    margin-right: 3rem;
}
.header__nav--menu li {
    font-family: var(--fontOpen);
    font-size: var(--textMedium);
    margin-right: 1em; /*me da distancia entre los elementos*/
}
.header__nav--menu li:last-child {
    background-color: var(--colorDos);
    border: var(--colorDos) solid 2px;
    padding: 0.30rem 0.75rem;
    border-radius: 0.6rem;
    /*todo esto para darle apariencia de botón a "contacto"*/
}
.header__nav--menu li:last-child:hover {
    background: transparent; /*transparenta el fondo de contacto al pasar el mouse*/
}
.header__nav--menu a {
    color: var(--colorWhite); /*color de los enlaces*/
    text-decoration: none; /*quita el subrayado de los enlaces*/
}
.header__nav--menu a:hover { /*pone color al pasar el mouse*/
    color: var(--colorDos);
}
/*Empezamos a diseñar el menu hambuerguesa*/
.menuHambur img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
.menuHambur, #check {
    display: none;
}
    /* Fin MENU de nav */
/*** FIN HEADER ***/





/*** MAIN ***/
    /*Estilos de Fuente del Main*/
.tituloStyles {
    color: var(--colorWhite);
    font-family: var(--fontVollSc);
    font-size: var(--textXlarge);
}
.descripcionStyles {
    color: var(--colorWhite);
    font-family: var(--fontOpen);
    font-size: var(--textSmall);
}
    /*Fin Estilos de Fuente del Main*/
    /*Position: relative para texto e imagenes*/

    /*Fin Position: relative para texto e imagenes*/

        /*HOME*/
.pictureHome img {
    width: 100%;
}
.sectionHome {
    margin-bottom: 15%;
    display: grid;
    grid-template-areas: 'picture picture picture'
                         'titulo titulo titulo'
                         'descrip descrip descrip';
}
.pictureHome {
    grid-area: picture;
}
.tituloHome {
    grid-area: titulo;
    text-align: center;
}
.descripcionHome {
    grid-area: descrip;
    text-align: center;
    margin-right: 20vw; margin-left: 20vw;
}
        /*Fin HOME*/

        /*GALERIA*/
.section__galeria img {
    width: 100%;
}
.section__galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; /*un total de 10 filas*/
    row-gap: .5rem; column-gap: 1rem;
}
.tituloGal {
    grid-row: 1; grid-column: 1 / span 3;
    text-align: center;
}
.gal1 {
    grid-column: 3; grid-row: 2;
}
.gal2 {
    grid-column: 1/span 2; grid-row: 2/span 2;
}
.gal3 {
    grid-column: 3; grid-row: 3;
}
.gal11 {
    grid-column: 2/span 2; grid-row: 6/span 2;
}
.espacioGal {
    grid-column: 1 / span 3;
    grid-row: 10;
    margin-bottom: 5%;
}
        /*Fin GALERIA*/
        
        /*SERVICIOS*/
.pictServicios img {
    transform: translate(11%);
    width: 100%;
}
.sectionServicios {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}
.pictServicios{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    z-index: -3;
}
.tituloServicios {
    margin-left: 2rem; margin-top: 5rem;
    grid-column: 1;
    grid-row: 1;
    z-index: -2;
}
.descripcionServicios {
    margin-left: 2rem;
    grid-column: 1;
    grid-row: 2 / span 2;
    z-index: -1;
}
        /*Fin SERVICIOS*/

        /*SOBRE MI*/
.pictSobre img {
    width: 100%;
}
.sectionSobre {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    text-align: end;
}
.pictSobre{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    z-index: -3;
}
.tituloSobre {
    margin-top: 1.6em; margin-right: .2em;
    grid-column: 3;
    grid-row: 1;
    z-index: -2;
}
.descripcionSobre {
    margin-right: 2rem; margin-bottom: 3rem;
    grid-column: 3;
    grid-row: 3;
    z-index: -1;
}   
        /*Fin SOBRE MI*/

        /*CONTACTO*/
.pictContacto img {
    transform: translate(9%);
    width: 100%;
}
.sectionContacto {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
}
.pictContacto {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    z-index: -3;
}
.tituloContacto {
    margin-top: 1em; margin-left: .2em;
    grid-column: 1;
    grid-row: 1;
    z-index: -2;
}
.formularioContacto {
    margin-left: 2rem; margin-bottom: 3rem;
    grid-column: 1 / span 2;
    grid-row: 3;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    row-gap: 1em; column-gap: 1em;
}
.nombre {
    grid-row: 1; grid-column: 1;
}
.apellido {
    grid-row: 2; grid-column: 1;
}
.correo {
    grid-row: 3; grid-column: 1;
}
.pregunta {
    grid-row: 4 / span 2; grid-column: 1 / span 2;
}
.enviar {
    grid-row: 5; grid-column: 3;
}
        /*Fin CONTACTO*/
/*** Fin MAIN ***/





/*** PIE DE PÁGINA ***/
.footer {
    /* BackGround Footer */
    background: linear-gradient(358deg, rgba(254,226,20,1) 6%, rgba(147,77,8,1) 43%, rgba(0,0,0,1) 78%);
    border-top: solid black 3px;
    padding: 1rem;
    /* FIN BackGround Footer */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.footer h2 {
    /*Contactanos*/ 
    color: var(--colorWhite);
    font-size: var(--textMedium);
    font-family: var(--fontVollSc);
}
.footer p { 
    /*Wsp, Correo y Volver al principio*/
    color: var(--colorWhite);
    font-size: var(--textSmall);
    margin-left: 1rem;
    font-family: var(--fontOpen);
}
/*** FIN PIE DE PÁGINA ***/




/*** MEDIAS QUERY ***/
@media (max-width:1428px){
    .tituloSobre, .tituloContacto {
        font-size: var(--textLarge);
    }
    .descripcionSobre {
        font-size: var(--textXsmall);
    }
    
}
@media (max-width:1218px){
    .tituloServicios {        
        font-size: var(--textLarge);
    }
    .descripcionServicios {
        font-size: var(--textXsmall);
    }
    /*Sobre Mi*/
    .pictSobre img {
        width: 100%;
    }
    .sectionSobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15%;
    }
    .tituloSobre {
        margin-top: 0; margin-left: 0;
    }
    .descripcionSobre {
        width: 70%; 
        margin-top: 0; margin-left: 0;
    }
}

@media (max-width:968px){
    /* Menu Hamburguesa */
    .checkbtn {
        display: block;
        cursor: pointer;
    }
    .menuHambur {
        display: block; /*hace aparecer el menuHambur*/
        position: absolute; /*acomoda el menuHambur con respecto al menu. Con absolute lo dejo quieto en el header.*/
        top: 8.5rem; right: 2rem ; /*separa el menuHambur del top y un poco del borde derecho*/
    }
    .header__nav--menu {
        display: block; /*posiciona mi menu verticalmente*/
        position: absolute;
        left: -100%;
        background: var(--colorBlack);
        width: 100%;
        height: 100vh; /*con esto estamos diciendo que cuando se muestre el menu de nav, ocupe todo el ancho y alto de la pantalla*/
        right: 0;/*para que el menu se alinee a la derecha*/
    }
    .header__nav--menu li { /*modificamos los elementos de la lista*/
        padding: 2rem; /*separa los elementos entre si verticalmente*/
        display: flex;
        justify-content: center; /*me los alinea al centro*/
        margin: 0;
    }
    .header__nav--menu li:last-child {
        background: none;
        padding: 0.30rem 0.75rem;
    }
    #check:checked ~ ul { /*checked para indicar que se hará cada vez que le hagamos click. ~ (alt+126) para seleccionar todos elementos dentro del contenedor padre (ul para este caso)*/
        left: 0;
        transition: all 0.25s;
    }
    /* FIN Menu Hamburguesa*/
    /*Servicios y contacto*/
    .pictServicios img, .pictContacto img {
        transform: none;
        width: 100%;
    }
    .sectionServicios, .sectionContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15%;
    }
    .tituloServicios, .tituloContacto {
        margin-top: 0; margin-left: 0;
    }
    .descripcionServicios {
        width: 70%; 
        margin-top: 0; margin-left: 0;
    }
    .formularioContacto {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 3rem);
        row-gap: 1em; column-gap: 1em;
    }
    .nombre {
        grid-column: 2 / span 3;
    }
    .apellido {
        grid-column: 2 / span 3;
    }
    .correo {
        grid-column: 2 / span 3;
    }
    .pregunta {
        grid-row: 4 / span 3; grid-column: 2 / span 3;
    }
    .enviar {
        grid-row: 7; grid-column: 3;
    }

}
/*cuando la pantalla sea igual o superior a 561px se aplicaran estos cambios*/
@media (min-width:561px) { 
    .gal1 {
        transition: filter .2s, transform .2s;
    }
    .gal1:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(-10%, 10%) scale(1.15, 1.15);
    }
    .gal2 {
        transition: filter .2s, transform .2s;
    }
    .gal2:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(9%, 9%) scale(1.15, 1.15);
    }
    .gal3 {
        transition: filter .2s, transform .2s;
    }
    .gal3:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(-10%, 0%) scale(1.15, 1.15);
    }
    .gal4, .gal7, .gal10, .gal12, .gal13 {
        transition: filter .2s, transform .2s;
    }
    .gal4:hover, .gal7:hover, .gal10:hover, .gal12:hover, .gal13:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(10%, 0%) scale(1.15, 1.15);
    }
    .gal5, .gal8, .gal14 {
        transition: filter .2s, transform .2s;
    }
    .gal5:hover, .gal8:hover, .gal14:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(0%, 0%) scale(1.15, 1.15);
    }
    .gal6, .gal9, .gal15 {
        transition: filter .2s, transform .2s;
    }
    .gal6:hover, .gal9:hover, .gal15:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(-10%, 0%) scale(1.15, 1.15);
    }
    .gal11 {
        transition: filter .2s, transform .2s;
    }
    .gal11:hover {
        filter: drop-shadow(0px 0px 30px var(--colorWhite));
        transform: translate(-9%, 0%) scale(1.15, 1.15);
    }
    .gal16 {
        transition: filter .2s, transform .2s;
    }
    .gal16:hover {
        filter: drop-shadow(0px 0px 20px var(--colorWhite));
        transform: translate(10%, -10%) scale(1.15, 1.15);
    }
    .gal17 {
        transition: filter .2s, transform .2s;
    }
    .gal17:hover {
        filter: drop-shadow(0px 0px 20px var(--colorWhite));
        transform: translate(0%, -10%) scale(1.15, 1.15);
    }
    .gal18 {
        transition: filter .2s, transform .2s;
    }
    .gal18:hover {
        filter: drop-shadow(0px 0px 20px var(--colorWhite));
        transform: translate(-10%, -10%) scale(1.15, 1.15);
    }
}
/*cuando la pantalla sea igual o inferior a 560px se aplicaran estos cambios*/
@media (max-width:560px) {
    /*header*/
    .header__logo img {
        width: 170px;
    }
    .menuHambur img {
        width: 35px;
        height: 35px;
        border-radius: 3px;
    }
    /*main*/  
    .tituloStyles {
        font-size: var(--textMedium);
    }
    .descripcionStyles {
        font-size: var(--textXxsmall);
    }
    /*main galeria*/
.section__galeria {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
}
.tituloGal {
    grid-column: 1 / span 1;
}
.gal1 {
    grid-column: 1; grid-row: 2;
}
.gal2 {
    grid-column: 1; grid-row: 3;
}
.gal3 {
    grid-column: 1; grid-row: 4;
}
.gal11 {
    grid-column: 1; grid-row: 12;
}
.espacioGal {
    grid-column: 1;
}
    /*footer*/
    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
    }
    .footer h2 {
        /*Contactanos*/
        font-size: var(--textSmall);
    }
    .footer p { 
        /*Wsp, Correo y Volver al principio*/
        font-size: var(--textXxsmall);
    }
}
/*** FIN MEDIAS QUERY ***/





/*COMENTARIOS A TUTORÍA
-El proyecto fue agregado a Git con exito.
-Separamos el texto en Sobre Mi del footer.
-Modificamos el formulario. Cambios en las mediasquery para corregir tamaños del mismo y eliminación de código innecesario.
-Agregué transiciones a todas las imágenes. Particularmente intenté primero agregar las transiciones a traves de las etiquetas generales para ahorrar lineas de código. Sin embargo, inclusive utilizando la clase "section_galeria li" me daba errores/improlijidades a la hora de desplegar la animacion/transición. Por ejemplo, la sombra de la imagen activa se proyectaba por detras de una imagen inactiva. Del único modo que logré hacer que la imagen hover se posicione siempre por encima con su sombra, fue a través de su propia clase: gal1, etc.
-Las transiciones en las imágenes fueron aplicadas en un mediaquery para que solo sean aplicadas cuando la pantalla sea superior a 561px y por tanto solo se apliquen en el formato cuadricula.
-Agregue un span con el código &nbsp; para poder emprolijar el sombreado en el margen inferior al hacer hover. 
*/
