/*** PIE DE PÁGINA ***/
.flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer {
    /* BackGround Footer */
    background: linear-gradient(358deg, rgba(254,226,20,1) 6%, rgba(147,77,8,1) 43%, rgba(0,0,0,1) 78%);
    border-top: solid black 3px;
    padding: 1rem;
    /* FIN BackGround Footer */
    @extend .flexFooter;

    .footerInfo {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        align-items: center;
        h2 {
            /*Contactanos*/ 
            grid-column: 1 / span 2;
            color: $colorWhite;
            font-size: $textMedium;
            font-family: $fontVollSc;
        }
        .footerIcon  {
            width: 32px;
            grid-column: 1;
        }
        p {
            grid-column: 2;
        }
        a {
            color: $colorWhite;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }   
    }
    p { 
        /*Wsp, Correo y Volver al principio*/
        color: $colorWhite;
        font-size: $textSmall;
        margin-left: 1rem;
        font-family: $fontOpen;
    }
    .footerEnlace {
        a {
            color: $colorTres;
            text-decoration: none;
        }
        a:hover {
            color: $colorWhite;
            text-decoration: underline;
        }
    }
}
/*** FIN PIE DE PÁGINA ***/

