/*** MAIN ***/
    /*Estilos generales de las Fuentes del Main*/
    .tituloStyles {
        color: map-get($map: $palette, $key: 'textcolorWhite');
        font-family: $fontVollSc;
        font-size: $textXlarge;
    }
    .descripcionStyles {
        color: map-get($map: $palette, $key: 'textcolorWhite');
        font-family: $fontOpen;
        font-size: $textXsmall;
        text-indent: 20px;
        
        p::first-letter {
            font-size: $textXsmall;
        }
    }
    /*Fin Estilos generales de las Fuentes del Main*/