/*** MAIN ***/
    /*Estilos generales de las Fuentes del Main*/
    .tituloStyles {
        color: $colorWhite;
        font-family: $fontOswald;
        font-weight: 200;
        font-size: $textXlarge;
    }
    .descripcionStyles {
        color: $colorWhite;
        font-family: $fontHind;
        font-size:$textXStres;
        text-indent: 20px;
        
        p::first-letter {
            font-size:$textXStres;
        }
    }
    /*Fin Estilos generales de las Fuentes del Main*/