/*CONTACTO*/
        /*@extend*/
        .FormStyles {
            background-color: transparent;
            color: $colorWhite;
            padding-left: 5px;
        }
        /*Fin @extend*/ 

.sectionContacto { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);

    .pictContacto { 
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        z-index: -3;

        /* Correcciones de imagen*/
        width: auto; height: 100%;
        img { 
            width: 80%;
            transform: translate(25%);
        }
    }
    .tituloContacto { 
        margin-top: 1em; margin-left: .2em;
        grid-column: 1;
        grid-row: 1;
        z-index: -2;
    }
    .formularioContacto {
        margin-left: 2rem; margin-bottom: 3rem;
        grid-column: 1 / span 2;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 4rem 4rem 4rem 9rem 4rem;
        row-gap: 1em; column-gap: 1em;

        .nombre {
            grid-row: 1; grid-column: 1 / span 2;
            @extend .FormStyles
        }
        .apellido {
            grid-row: 2; grid-column: 1 / span 2;
            @extend .FormStyles
        }
        .correo {
            grid-row: 3; grid-column: 1 / span 2;
            @extend .FormStyles
        }
        .pregunta {
            grid-row: 4 / span 2; grid-column: 1 / span 4;
            @extend .FormStyles
        }
        .enviar {
            border-radius: 5em;
            grid-row: 5; grid-column: 5;
        }
    }
}
/*Fin CONTACTO*/