/* VARIABLES */
    /* Colores */
    $colorUno: #FFCD00;
    $colorDos: #9E5D00;
    $colorTres: #251605;
    $colorWhite: #F2F1ED;
    $colorBlack: #000000;
    
    /*Fonts*/
    $fontVollSc: 'Vollkorn SC', serif;
    $fontVoll: 'Vollkorn', serif;
    $fontOpen: 'Open Sans', sans-serif;

    /*Font Sizes*/
    $textXlarge: 8em; 
    $textLarge: 5.2em; 
    $textMedium: 3em; 
    $textBase: 2.4em; 
    $textSmall: 2em;
    $textSmall2: 1.8em; 
    $textXsmall: 1.6em; 
    $textXxsmall: 1em;
/* Fin VARIABLES */